/* General styling for announcements section */
.news {
    padding: 20px;
}

.news .container {
    max-width: 1200px;
    margin: auto;
}

.news h1 {
    text-align: center;
    margin-bottom: 20px;
}

.announcements-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcement-item {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
    background: #f4f4f4
}

/*.announcement-item:last-child {
    border-bottom: none;
}*/

.announcement-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.announcement-title-container h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
	line-height: 1.6em;
}

.pin-icon, .inactive-icon {
    width: auto;
    height: 24px;
    margin-left: 10px;
    margin-right : 10px;
}

.announcement-date {
    margin-bottom: 0px;
    font-size: 0.8em;
    color: #999;
    text-align: left;
}

.announcement-content-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.announcement-content-container img {
    max-width: 150px;
    border-radius: 5px;
}

.announcement-content-container p {
    margin: 0;
    color: #666;
    font-size: 0.9em;
}

.inactive {
    background-color: #f0f0f0; /* Different background color for inactive announcements */
}

/* Responsive Design */
@media (max-width: 768px) {
    .announcement-content-container {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .announcement-content-container img {
        margin-bottom: 10px;
        max-width: 100%;
    }
}
