.news-scroller {
    display: flex;
    overflow-x: auto;
    white-space: wrap;
    padding: 20px;
    gap: 10px;
    border: 1px solid #ddd;
    margin: 20px 0;
}

.divNewsTable .divNewsTableCell, .divNewsTable .divNewsTableHead {
}
.divNewsTable .divNewsTableHeading {
  }
.divNewsTable .divNewsTableHeading .divNewsTableHead {
}

.divNewsTable        { display: table;}
.divNewsTableRow     { display: table-row; }
.divNewsTableHeading { display: table-header-group;}
.divNewsTableHead { 
	padding:       5px;
	margin:       10px;
	display:       table-cell;
	border-top  : 10px solid #ddd;
	border-left :  5px solid #ddd;
	border-right:  5px solid #ddd;
	}
.divNewsTableCell { 
	display: table-cell;
	padding-left:   5px;
	padding-right:  5px;
	padding-top:    2px;
	padding-bottom: 2px;
		
	width    : 250px; /* or whatever width you want. */
	max-width: 250px; /* or whatever width you want. */ 
	min-width: 250px; /* or whatever width you want. */ 
	border-left:   4px solid #ddd;
	border-right:  4px solid #ddd;
	}

.divNewsTableCell h3 {
	font-size     : 0.95em;
	margin-top    : 2px;
	margin-bottom : 0px;
	}	
	
.divNewsTableImageCell {
	display: table-cell;
	width    : 250px; /* or whatever width you want. */
	max-width: 250px; /* or whatever width you want. */ 
	min-width: 250px; /* or whatever width you want. */ 
	border-top:    none;
	border-top:    8px solid #ddd;
	border-right:  4px solid  #ddd;
	border-bottom: none;
	border-left:   4px solid  #ddd;
	
    margin-left:  10px;
	margin-right: 10px;

}

.divNewsTableImageCell img {
				width:100%;
				height:auto;
				display:block;
			  }

.divNewsTableCell p {
	margin-top    : 2px;
	margin-bottom : 2px;
	overflow      : hidden;
	text-overflow : ellipsis;
	font-size     : 0.85em;
	display: -webkit-box;
	-webkit-line-clamp: 5; /* Number of lines to show */
	-webkit-box-orient: vertical;
	hyphens: auto;
}

.divNewsTableLinkCell {
	margin: 10px;
	display: table-cell;
	border-bottom:  8px solid #ddd;
	border-left:    4px solid #ddd;
	border-right:   4px solid #ddd;
}

.divNewsTableLinkCell a { 
	display: block;
	text-decoration: none;
	text-align: center;
	color: #333;
	background: #bbb;
	padding: 5px 10px;
	border-radius: 0px;
	align-self: normal;
	margin-top: 10px;
	max-block-size: 2em;	
}


.divNewsTableHeading { display: table-header-group;}
.divNewsTableFoot { display: table-footer-group;}
.divNewsTableBody { display: table-row-group;}